# Fix Datatypes

## Fixing `cyl` Data Type
- 2008: extract int from string
- 2018: convert float to int

Load datasets `data_08_v3.csv` and `data_18_v3.csv`. You should've created these data files in the previous section: *Filter, Drop Nulls, Dedupe*.

In [ ]:
# load datasets
import pandas as pd

df_08 =
df_18 =

In [ ]:
# check value counts for the 2008 cyl column
df_08['cyl'].value_counts()

#### String Processing
We need to extract the number from the string. There are several ways to do it, but one example is using regex.  
Regex, or [regular expressions](https://docs.python.org/3/library/re.html) is a set of matching operations you can perform on strings. `(\d+)` is a pattern that matches any unicode decimal digit.  

For pandas, you can perform string operations by using the `str` attribute on a column with an object type. This is extremely powerful to manipulate strings in pandas. Review the [documentation](https://pandas.pydata.org/docs/user_guide/text.html#string-methods) for an in depth explanation.

For our use case, the `str` attribute has a method called [extract](https://pandas.pydata.org/docs/user_guide/text.html#extracting-substrings) which allows you to use regex to extract the numbers we are looking for. Combine this with the [astype](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.astype.html) method to convert the extracted number to a string.


You can read more of this process by reviewing this [Stack Overflow](https://stackoverflow.com/questions/35376387/extract-int-from-string-in-pandas) thread.

In [ ]:
# Extract int from strings in the 2008 cyl column
df_08['cyl'] =

In [ ]:
# Check value counts for 2008 cyl column again to confirm the change
df_08['cyl'].value_counts()

In [ ]:
# convert 2018 cyl column from a float type to int type
df_18['cyl'] =

## Fixing `air_pollution_score` Data Type
- 2008: convert string to float
- 2018: convert int to float

In [ ]:
# try using pandas' astype function to convert the
# 2008 air_pollution_score column to float -- this won't work

# Figuring out the issue
Looks like this isn't going to be as simple as converting the datatype. According to the error above, the air pollution score value in one of the rows is "6/4" - let's check it out.

In [ ]:
df_08[df_08.air_pollution_score == '6/4']

# It's not just the air pollution score!
The mpg columns and greenhouse gas scores also seem to have the same problem - maybe that's why these were all saved as strings! According to [this link](http://www.fueleconomy.gov/feg/findacarhelp.shtml#airPollutionScore), which I found from the PDF documentation:

    "If a vehicle can operate on more than one type of fuel, an estimate is provided for each fuel type."
    
Ohh... so all vehicles with more than one fuel type, or hybrids, like the one above (it uses ethanol AND gas) will have a string that holds two values - one for each. This is a little tricky, so I'm going to show you how to do it with the 2008 dataset, and then you'll try it with the 2018 dataset.

In [ ]:
# First, let's get all the hybrids in 2008
hb_08 = df_08[df_08['fuel'].str.contains('/')]
hb_08.shape

Looks like this dataset only has one! The 2018 has MANY more - but don't worry - the steps I'm taking here will work for that as well!

In [ ]:
# hybrids in 2018
hb_18 = df_18[df_18['fuel'].str.contains('/')]
hb_18.shape

We're going to take each hybrid row and split them into two new rows - one with values for the first fuel type (values before the "/"), and the other with values for the second fuel type (values after the "/"). Let's separate them with two dataframes!

In [ ]:
# create two copies of the 2008 hybrids dataframe
df1 = hb_08.copy()  # data on first fuel type of each hybrid vehicle
df2 = hb_08.copy()  # data on second fuel type of each hybrid vehicle

# Each one should look like this
df1

For this next part, we're going use pandas' apply function. See the docs [here](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.apply.html).

In [ ]:
# columns to split by "/"
split_columns = ['fuel', 'air_pollution_score', 'city_mpg', 'hwy_mpg', 'cmb_mpg', 'greenhouse_gas_score']

# apply split function to each column of each dataframe copy
for c in split_columns:
    df1[c] = df1[c].apply(lambda x: x.split("/")[0])
    df2[c] = df2[c].apply(lambda x: x.split("/")[1])

In [ ]:
# this dataframe holds info for the FIRST fuel type of the hybrid
# aka the values before the "/"s
df1

In [ ]:
# this dataframe holds info for the SECOND fuel type of the hybrid
# aka the values after the "/"s
df2

In [ ]:
# combine dataframes to add to the original dataframe
new_rows = pd.concat([df1, df2])

# now we have separate rows for each fuel type of each vehicle!
new_rows

In [ ]:
# drop the original hybrid rows
df_08.drop(hb_08.index, inplace=True)

# add in our newly separated rows
df_08 = pd.concat([df_08, new_rows], ignore_index=True)

In [ ]:
# check that all the original hybrid rows with "/"s are gone
df_08[df_08['fuel'].str.contains('/')]

In [ ]:
df_08.shape

# Repeat this process for the 2018 dataset

In [ ]:
# create two copies of the 2018 hybrids dataframe, hb_18
df1 =
df2 =

### Split values for `fuel`, `city_mpg`, `hwy_mpg`, `cmb_mpg`
You don't need to split for `air_pollution_score` or `greenhouse_gas_score` here because these columns are already ints in the 2018 dataset.

In [ ]:
# list of columns to split
split_columns = ['fuel', 'city_mpg', 'hwy_mpg', 'cmb_mpg']

# apply split function to each column of each dataframe copy
for c in split_columns:
    df1[c] =
    df2[c] =

In [ ]:
# append the two dataframes
new_rows =

# drop each hybrid row from the original 2018 dataframe
# do this by using Pandas drop function with hb_18's index
df_18.drop(hb_18.index, inplace=True)

# append new_rows to df_18
df_18 =

In [ ]:
# check that they're gone
df_18[df_18['fuel'].str.contains('/')]

In [ ]:
df_18.shape

### Now we can comfortably continue the changes needed for `air_pollution_score`! Here they are again:
- 2008: convert string to float
- 2018: convert int to float

In [ ]:
# convert string to float for 2008 air pollution column
df_08.air_pollution_score =

In [ ]:
# convert int to float for 2018 air pollution column
df_18.air_pollution_score =

## Fix `city_mpg`, `hwy_mpg`, `cmb_mpg` datatypes
    2008 and 2018: convert string to float

In [ ]:
# convert mpg columns to floats
mpg_columns =
for c in mpg_columns:
    df_18[c] =
    df_08[c] =

## Fix `greenhouse_gas_score` datatype
    2008: convert from float to int

In [ ]:
# convert from float to int
df_08['greenhouse_gas_score'] =

## All the dataypes are now fixed! Take one last check to confirm all the changes.

In [ ]:
df_08.dtypes

In [ ]:
df_18.dtypes

In [ ]:
df_08.dtypes == df_18.dtypes

In [ ]:
# Save your final CLEAN datasets as new files!
df_08.to_csv('clean_08.csv', index=False)
df_18.to_csv('clean_18.csv', index=False)